<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto">
	<p style="text-align: justify">{{ templates.email_changed.title }}</p>
	<p style="text-align: justify">{{ templates.email_changed.body.text }} {{ templates.email_changed.body.text }}</p>
	<p style="text-align: center">
		<a href="{{ templates.email_changed.body.link.href }}">{{ templates.email_changed.body.link.text }}</a>
	</p>

	<p style="text-align: justify">
		<em>{{ templates.email_changed.body.info }}</em>
	</p>

	<p style="text-align: justify">
		<em>{{ templates.common.info }}</em>
	</p>

	<p style="text-align: justify">{{ templates.common.questions }}&nbsp;<a href="mailto:ae@utbm.fr">ae@utbm.fr</a>.</p>

	<p>{{ templates.common.politeness }}</p>
	<p>{{ templates.common.signature }}</p>
</div>
