<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto">
	<p style="text-align: justify">{{ templates.register_common.title }}</p>
	<p style="text-align: justify">
		{{ templates.register_common.body.text }} {{ templates.register_user_by_admin.body.text }}
	</p>
	<p style="text-align: center">
		<code>{{ templates.register_user_by_admin.body.password }}</code>
	</p>

	<p style="text-align: justify">{{ templates.common.questions }}&nbsp;<a href="mailto:ae@utbm.fr">ae@utbm.fr</a>.</p>

	<p>{{ templates.common.politeness }}</p>
	<p>{{ templates.common.signature }}</p>
</div>
