html,
body {
	height: 100%;
	overflow: auto;
}

* {
	outline: none !important;
}

#swagger-ui {
	padding-bottom: 0;
}

.swagger-ui table tbody tr td:first-of-type {
	min-width: 12em !important;
}

/* hide swagger topbar menu */
.swagger-ui .topbar,
.swagger-ui .topbar * {
	padding: 0px !important;
	height: 0px;
	visibility: hidden;
	background-color: transparent !important;
}

.swagger-ui .info {
	margin: 0 !important;
	padding: 20px 0 !important;
}

.swagger-ui .info .description .renderedMarkdown p {
	margin: 0;
}

.swagger-ui .information-container.wrapper {
	display: flex;
	align-items: center;
	gap: 30px;
	padding: 0 30px !important;
}

.swagger-ui .information-container.wrapper::before {
	content: ' ';
	background-image: url('/public/ae_base.png');
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 5px;
	border: 1px solid #000;
	display: block;
	height: 85.5px;
	width: 85.5px;
}

.swagger-ui .info>.main {
	margin: 0 !important;
}

.swagger-ui .auth-wrapper .dialog-ux {
	height: 100vh;
}

.scheme-container {
	box-shadow: none !important;
	margin: 0 !important;
	padding: 0px !important;
}

.swagger-ui {
	padding: 0;
}

.arrow {
	fill: rgb(200, 200, 200);
}

.opblock-summary-control>.arrow {
	margin: 0 10px;
}

body {
	background: none !important;
}

body>#swagger-ui>.swagger-ui.swagger-container {
	padding-bottom: 20px;
}
@media screen and (max-width: 1460px) {
	body>#swagger-ui>.swagger-ui.swagger-container {
		padding-bottom: 0;
	}
}

.wrapper {
	border-radius: 10px;
	padding: 10px !important;
	margin: 0 auto 0 !important;
}
.wrapper+.wrapper {
	margin-top: 20px !important;
}

.wrapper:last-child {
	margin-bottom: 0 !important;
}
html>body>div#swagger-ui>section.swagger-ui.swagger-container>div.swagger-ui>div>div.wrapper:last-child {
	display: none;
}

.swagger-ui .opblock .opblock-section-header {
	background-color: transparent;
}

.authorization__btn>svg {
	fill: rgb(200, 200, 200);
}

.swagger-ui>div>.information-container {
	padding: 0 60px !important;
	min-width: 100% !important;
}

.modal-ux-content>div>form>div>div:nth-child(2) {
	height: 0;
}

.swagger-ui section.models {
	border: 1px solid rgb(200, 200, 200);
}

.swagger-ui section.models.is-open h4 {
	border-bottom: 1px solid rgb(200, 200, 200);
}

.swagger-ui section.models {
	margin: 0 !important;
}

.swagger-ui.swagger-container>*:last-child {
	display: none;
}

.swagger-ui .opblock .opblock-summary-path {
	max-width: calc(100% - 110px) !important;
}

.swagger-ui .info .title small.version-stamp {
	background-color: #76C945;
}
.body-param__text {
	max-width: 100%;
	min-width: 100% !important;
}

@media (prefers-color-scheme: dark) {
	body,
	input[type=text],
	input[type=file],
	.model-box,
	.swagger-ui textarea,
	.microlight,
	select.content-type,
	.modal-ux {
		background-color: #0d1117 !important;
		border: 1px solid #000 !important;
	}

	.scheme-container {
		background-color: #0d1117 !important;
	}

	.parameter__name,
	.parameter__type,
	.nostyle>span,
	.swagger-ui textarea,
	.model-title__text,
	.opblock-summary-description,
	select.content-type,
	input[type=text],
	input[type=file],
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	td,
	th,
	button,
	label {
		color: rgb(200, 200, 200) !important;
	}

	svg {
		fill: rgb(200, 200, 200);
	}

	.validation-errors.errors-wrapper {
		color: #f93e3e;
	}

	.swagger-ui .model-toggle:after {
		background: url('/public/arrow_right.svg') 50% no-repeat;
		background-size: 100%;
	}

	.swagger-ui select {
		background: #f7f7f7 url('/public/arrow_down.svg');
	}

	.swagger-ui .information-container.wrapper::before {
		border-color: #f7f7f7;
	}
}

.swagger-ui select {
	background-position: right 0px center;
	background-repeat: no-repeat;
}

.response-col_description__inner > .renderedMarkdown > p {
	margin-top: 0;
}

.swagger-ui .authorization__btn {
	padding: 0 10px;
}

.swagger-ui .model-box {
	width: 100%;
}

.swagger-ui .model-box-control {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.swagger-ui .model-box-control .model-toggle,
.swagger-ui .model-box-control .model-toggle:after {
	height: 18.5px;
	margin: 0;
	top: 0;
}

