<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">

	<p style="text-align: justify;">
		Bienvenu(e) {{ username }} !
	</p>
	<p style="text-align: justify;">
		Nous sommes ravis que vous ayez créé un compte sur notre plateforme.
		Veuillez trouver ci-dessous le mot de passe temporaire pour vous connecter à votre compte :
	</p>
	<p style="text-align: center;">
		<code>{{ password }}</code>
	</p>

	<p style="text-align: justify;">Si vous avez des questions ou avez besoin d'aide, n'hésitez pas à nous contacter via notre adresse e-mail : <a href="mailto:ae@utbm.fr">ae@utbm.fr</a>.</p>

	<p>Cordialement, </p>
	<p>L'Association des étudiants de l'UTBM</p>
</div>
